.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
.venv

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/static/icons/halyk-m.svg
public/static/icons/halyk.svg
public/static/icons/kaspi-m.svg
public/static/icons/kaspi.svg
public/static/image/halyk-banner.webp
public/static/image/halyk-mobile-banner.webp
public/static/image/kaspi-banner.webp
public/static/image/kaspi-desktop.webp
public/static/image/kaspi-mobile-banner.webp
public/static/image/ogLogo.webp
public/static/image/product/testmodel/01-desktop.webp
public/static/image/product/testmodel/01-mobile.webp
public/static/image/product/testmodel/carousel-1.webp
public/static/image/product/testmodel/carousel-2.webp
public/static/image/product/testmodel/carousel-3.webp
public/static/image/product/testmodel/carousel-4.webp
public/static/image/product/testmodel/carousel-5.webp
public/static/image/product/testmodel/carousel-6.webp
public/static/image/promo-slider/imgs-1.webp
public/static/image/promo-slider/imgs-2.webp
public/static/image/promo-slider/imgs-3.webp
public/static/image/promo-slider/imgs-4.webp
public/static/json/carousel.json
public/static/json/main.json
public/static/json/product.json
public/static/styles/main.css
public/static/styles/main.scss
public/static/styles/normalize.css
public/static/styles/dist/main.css
src/static/icons/halyk-m.svg
src/static/icons/halyk.svg
src/static/icons/kaspi-m.svg
src/static/icons/kaspi.svg
src/static/image/halyk-banner.webp
src/static/image/halyk-mobile-banner.webp
src/static/image/kaspi-banner.webp
src/static/image/kaspi-desktop.webp
src/static/image/kaspi-mobile-banner.webp
src/static/image/ogLogo.webp
src/static/image/promo-slider/imgs-1.webp
src/static/image/promo-slider/imgs-2.webp
src/static/image/promo-slider/imgs-3.webp
src/static/json/main.json
src/static/styles/main.css
src/static/styles/main.scss
src/static/styles/normalize.css
src/static/styles/dist/main.css
